{{#section 'getMongoDbDataCss'}}
{{/section}}

<!--大的div-->
<div class="contactBox">
    <p>getMongoDbData获取数据</p>
</div>


{{#section 'getMongoDbDataJs'}}
    <script>
        var app=angular.module('CQUE',[]); //定义ng-app
        app.controller('cqueSendEmail',['$http',function($http){
            var self=this;
        }]);



    </script>
{{/section}}


