{{#section 'personDataCss'}}
    <link rel="stylesheet" href="stylesheets/person/personData.css"/>
{{/section}}

<!--个人资料部分-->
<div class="personalData" id="personalData">
    <!--标题-->
    <div class="personalDataTitle">
        <p>个人资料</p>
    </div>
    <!--详细-->
    <div class="personalDataContent">
        <p>用户名：<span>李开吉</span></p>
        <p>邮箱：<span>1104310490@qq.com</span></p>
        <p>性别：<span>男</span></p>
        <p>系别：<span>数学与信息工程系</span></p>
        <p>宿舍：<span>南山校区16栋</span></p>
        <p>QQ：<span>1104310490</span></p>
        <p>电话：<span>13212528281</span></p>
    </div>
</div>

{{#section 'personDataJs'}}
    <script src="javascript/person/personData.js"></script>  <!--个人资料js-->
{{/section}}