{{#section 'productContentCss'}}
    <link rel="stylesheet" href="stylesheets/productContent.css"/>
{{/section}}

<!--大的div-->
<div class="productContentBox">
    <div class="container"> <!--居中-->
        <div class="productContentArea">

            <!--顶部图片，标题部分-->
            <div class="productContentAreaTitle">
                <!--左边图片部分-->
                <div class="productContentAreaTitleImg">
                    <!--大图片部分-->
                    <div class="productContentAreaTitleImgBig">
                        <ul id="lunboImg">
                            <li>
                                <img  id="lunboimg" src="images/yanggao/yanggaoone.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/yanggao/yanggaotwo.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/yanggao/yanggaothree.png" width="100%" height="100%" alt="computer"/>
                            </li>
                        </ul>
                    </div>
                    <!--下方小图片部分-->
                    <div class="productContentAreaTitleImgLittle">
                        <div class="productContentAreaTitleImgLittleOne" id="productContentAreaTitleImgLittleOne">
                            <a href="javascript:void(0)">
                                <img src="images/yanggao/yanggaoone.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleTwo" id="productContentAreaTitleImgLittleTwo">
                            <a href="javascript:void(0)">
                                <img src="images/yanggao/yanggaotwo.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleThree" id="productContentAreaTitleImgLittleThree">
                            <a href="javascript:void(0)">
                                <img src="images/yanggao/yanggaothree.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                    </div>
                </div>
                <!--右边标题部分-->
                <div class="productContentAreaTitleContent">
                    <div class="productContentAreaTitleContentTitle">
                        <p id="contentCarsTitle">羊羔毛内机车麂皮外套</p>
                    </div>
                    <div class="productContentAreaTitleContentDetails">
                        <p>品牌: other/其他服装版型: 直筒厚薄: 加厚风格: 通勤通勤: 韩版衣长: 中长款袖长: 长袖领子: 立领袖型: 常规衣门襟: 拉链图案: 纯色流行元素/工艺: 口袋 拉链面料材质: 其他成分含量: 51%(含)-70%(含)填充物: 其他适用年龄: 18-24周岁年份/季节: 2016年冬季颜色分类: 裸色羊羔毛外套尺码: 均码
                        </p>
                    </div>
                    <div class="productContentAreaTitleContentPrice">
                        <p id="productCarsPrice">￥128</p>
                    </div>
                    <div class="productContentAreaTitleContentSubmit" id="productContentAreaTitleContentSubmit">
                        <button data-toggle="modal" data-target="#myModal">我要购买</button>
                    </div>
                </div>
            </div>

            <!--下方图片部分-->
            <div class="productContentAreaImg">
                <img src="images/yanggao/yanggaofour.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/yanggao/yanggaofive.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/yanggao/yanggaosix.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/yanggao/yanggaoseven.png" width="100%" height="25%" alt="dellone"/>
            </div>

        </div>
    </div>
</div>

{{#section 'productContentJs'}}
    <script src="javascript/productContent.js"></script>
{{/section}}