{{#section 'productContentCss'}}
    <link rel="stylesheet" href="stylesheets/productContent.css"/>
{{/section}}

<!--大的div-->
<div class="productContentBox">
    <div class="container"> <!--居中-->
        <div class="productContentArea">

            <!--顶部图片，标题部分-->
            <div class="productContentAreaTitle">
                <!--左边图片部分-->
                <div class="productContentAreaTitleImg">
                    <!--大图片部分-->
                    <div class="productContentAreaTitleImgBig">
                        <ul id="lunboImg">
                            <li>
                                <img  id="lunboimg" src="images/book/bookone.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/xinjingl/xinone.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/xinjingl/xintwo.png" width="100%" height="100%" alt="computer"/>
                            </li>
                        </ul>
                    </div>
                    <!--下方小图片部分-->
                    <div class="productContentAreaTitleImgLittle">
                        <div class="productContentAreaTitleImgLittleOne" id="productContentAreaTitleImgLittleOne">
                            <a href="javascript:void(0)">
                                <img src="images/book/bookone.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleTwo" id="productContentAreaTitleImgLittleTwo">
                            <a href="javascript:void(0)">
                                <img src="images/xinjingl/xinone.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleThree" id="productContentAreaTitleImgLittleThree">
                            <a href="javascript:void(0)">
                                <img src="images/xinjingl/xintwo.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                    </div>
                </div>
                <!--右边标题部分-->
                <div class="productContentAreaTitleContent">
                    <div class="productContentAreaTitleContentTitle">
                        <p id="contentCarsTitle">青春文学书籍 畅销书心静了世界就静了 青春成功励志书籍小说 畅销书青春文学心灵心灵励志
                            职场生活励志人生哲理书籍心灵鸡汤静心</p>
                    </div>
                    <div class="productContentAreaTitleContentDetails">
                        <p>别让生活耗尽你的美好。原本，我们应该美好如花，澄静如水，然而放眼望去，一张张衰老面孔仿佛饱经风霜，目光浑浊，
                            灵魂疲惫不堪，每天我们都挣扎在生活与工作的两点一线间，早已忘却享受人间的风景。是什么，让我们辜负掉了那么多岁月？
                            是谁摧残了灵魂？
                        </p>
                    </div>
                    <div class="productContentAreaTitleContentPrice">
                        <p id="productCarsPrice">￥128</p>
                    </div>
                    <div class="productContentAreaTitleContentSubmit" id="productContentAreaTitleContentSubmit">
                        <button data-toggle="modal" data-target="#myModal">我要购买</button>
                    </div>
                </div>
            </div>

            <!--下方图片部分-->
            <div class="productContentAreaImg">
                <img src="images/xinjingl/xinthree.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/xinjingl/xinfour.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/xinjingl/xinfive.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/xinjingl/xinsix.png" width="100%" height="25%" alt="dellone"/>
            </div>

        </div>
    </div>
</div>

{{#section 'productContentJs'}}
    <script src="javascript/productContent.js"></script>
{{/section}}