{{#section 'productContentCss'}}
    <link rel="stylesheet" href="stylesheets/productContent.css"/>
{{/section}}

<!--大的div-->
<div class="productContentBox">
    <div class="container"> <!--居中-->
        <div class="productContentArea">

            <!--顶部图片，标题部分-->
            <div class="productContentAreaTitle">
                <!--左边图片部分-->
                <div class="productContentAreaTitleImg">
                    <!--大图片部分-->
                    <div class="productContentAreaTitleImgBig">
                        <ul id="lunboImg">
                            <li>
                                <img  id="lunboimg" src="images/ipad/ipadone.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/ipad/ipadtwo.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/ipad/ipadthree.png" width="100%" height="100%" alt="computer"/>
                            </li>
                        </ul>
                    </div>
                    <!--下方小图片部分-->
                    <div class="productContentAreaTitleImgLittle">
                        <div class="productContentAreaTitleImgLittleOne" id="productContentAreaTitleImgLittleOne">
                            <a href="javascript:void(0)">
                                <img src="images/ipad/ipadone.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleTwo" id="productContentAreaTitleImgLittleTwo">
                            <a href="javascript:void(0)">
                                <img src="images/ipad/ipadtwo.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleThree" id="productContentAreaTitleImgLittleThree">
                            <a href="javascript:void(0)">
                                <img src="images/ipad/ipadthree.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                    </div>
                </div>
                <!--右边标题部分-->
                <div class="productContentAreaTitleContent">
                    <div class="productContentAreaTitleContentTitle">
                        <p id="contentCarsTitle">Apple/苹果 iPad Air 2 WIFI ipad 6 32G/128G 国行原封 实体店</p>
                    </div>
                    <div class="productContentAreaTitleContentDetails">
                        <p>北京时间10月17日凌晨1点，苹果在加州库比蒂诺总部发布机身厚度仅6.1毫米iPad Air 2，秒杀6.4毫米的索尼Z3
                            Tablet，打破索尼长达2年的垄断，再度刷新平板电脑轻薄的记录，荣登全球最薄平板宝座。</p>
                    </div>
                    <div class="productContentAreaTitleContentPrice">
                        <p id="productCarsPrice">￥2600</p>
                    </div>
                    <div class="productContentAreaTitleContentSubmit" id="productContentAreaTitleContentSubmit">
                        <button data-toggle="modal" data-target="#myModal">我要购买</button>
                    </div>
                </div>
            </div>

            <!--下方图片部分-->
            <div class="productContentAreaImg">
                <img src="images/ipad/ipadthree.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/ipad/ipadfour.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/ipad/ipadfive.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/ipad/ipadsix.png" width="100%" height="25%" alt="dellone"/>
            </div>

        </div>
    </div>
</div>

{{#section 'productContentJs'}}
    <script src="javascript/productContent.js"></script>
{{/section}}