{{#section 'productContentCss'}}
    <link rel="stylesheet" href="stylesheets/productContent.css"/>
{{/section}}

<!--大的div-->
<div class="productContentBox">
    <div class="container"> <!--居中-->
        <div class="productContentArea">

            <!--顶部图片，标题部分-->
            <div class="productContentAreaTitle">
                <!--左边图片部分-->
                <div class="productContentAreaTitleImg">
                    <!--大图片部分-->
                    <div class="productContentAreaTitleImgBig">
                        <ul id="lunboImg">
                            <li>
                                <img  id="lunboimg" src="images/phone/phoneone.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/iphone6s/iphoneone.png" width="100%" height="100%" alt="computer"/>
                            </li>
                            <li>
                                <img src="images/iphone6s/iphonetwo.png" width="100%" height="100%" alt="computer"/>
                            </li>
                        </ul>
                    </div>
                    <!--下方小图片部分-->
                    <div class="productContentAreaTitleImgLittle">
                        <div class="productContentAreaTitleImgLittleOne" id="productContentAreaTitleImgLittleOne">
                            <a href="javascript:void(0)">
                                <img src="images/phone/phoneone.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleTwo" id="productContentAreaTitleImgLittleTwo">
                            <a href="javascript:void(0)">
                                <img src="images/iphone6s/iphoneone.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                        <div class="productContentAreaTitleImgLittleThree" id="productContentAreaTitleImgLittleThree">
                            <a href="javascript:void(0)">
                                <img src="images/iphone6s/iphonetwo.png" width="100%" height="100%" alt="computer"/>
                            </a>
                        </div>
                    </div>
                </div>
                <!--右边标题部分-->
                <div class="productContentAreaTitleContent">
                    <div class="productContentAreaTitleContentTitle">
                        <p id="contentCarsTitle">苹果 iPhone6s 玫瑰金 64G 国行 苹果手机6s 64g 小6银色16G 大6金色16g 原版</p>
                    </div>
                    <div class="productContentAreaTitleContentDetails">
                        <p>国行，刚过保，16g的，外观完美，没有一点划痕，没修过，一点问题没有，另外还有一个6p也是16g的银色，
                            2600外观都跟新的一样</p>
                    </div>
                    <div class="productContentAreaTitleContentPrice">
                        <p id="productCarsPrice">￥1900</p>
                    </div>
                    <div class="productContentAreaTitleContentSubmit" id="productContentAreaTitleContentSubmit">
                        <button data-toggle="modal" data-target="#myModal">我要购买</button>
                    </div>
                </div>
            </div>

            <!--下方图片部分-->
            <div class="productContentAreaImg">
                <img src="images/iphone6s/iphonethree.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/iphone6s/iphonefour.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/iphone6s/iphonefive.png" width="100%" height="25%" alt="dellone"/>
                <img src="images/iphone6s/iphonesix.png" width="100%" height="25%" alt="dellone"/>
            </div>

        </div>
    </div>
</div>

{{#section 'productContentJs'}}
    <script src="javascript/productContent.js"></script>
{{/section}}