{{#section 'backAdministrationUserCss'}}
    <link rel="stylesheet" href="stylesheets/back/backAdministrationUser.css"/>
{{/section}}

<!--右边大的div-->
<div class="backUser">
    <table>
        <!--标题-->
        <caption>用户信息管理</caption>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>密码</th>
            <th>确认密码</th>
            <th>电话</th>
            <th>邮件</th>
            <th>性别</th>
            <th>系别</th>
            <th>校区</th>
            <th>宿舍</th>
            <th>QQ</th>
            <th>操作</th>
        </tr>
        <!--行数-->
        <tr>
            <td>12</td>
            <td>李开吉</td>
            <td>20160322likaiji</td>
            <td>20160322likaiji</td>
            <td>13212528281</td>
            <td>1104310490@qq.com</td>
            <td>保密</td>
            <td>学前教育</td>
            <td>南山校区</td>
            <td>16栋</td>
            <td>1104310490</td>
            <td><button class="deleteUser">删除</button></td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td><button class="deleteUser">删除</button></td>
        </tr>
    </table>
</div>

{{#section 'backAdministrationUserJs'}}
    <script src="javascript/back/backAdministrationUser.js"></script>
{{/section}}