{{#section 'backAdministrationOrderProductCss'}}
    <link rel="stylesheet" href="stylesheets/back/backAdministrationOrderProduct.css"/>
{{/section}}

<!--右边大的div-->
<div class="backUser">
    <table>
        <!--标题-->
        <caption>页面商品展示管理</caption>
        <tr>
            <th>订单编号</th>
            <th>商品名称</th>
            <th>买家姓名</th>
            <th>买家电话号码</th>
            <th>总价</th>
            <th>买家地址</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
        <!--行数-->
        <tr>
            <td>1</td>
            <td>衣品天成 2016夏装新品短袖条纹T恤女</td>
            <td>李开吉</td>
            <td>13212528281</td>
            <td>100</td>
            <td>南山校区16栋</td>
            <td>已送</td>
            <td><a href="/changebackAdministrationOrderProduct" class="updateProduct">修改</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>衣品天成 2016夏装新品短袖条纹T恤女</td>
            <td>李开吉</td>
            <td>13212528281</td>
            <td>100</td>
            <td>南山校区16栋</td>
            <td>已送</td>
            <td><a href="/changebackAdministrationOrderProduct" class="updateProduct">修改</a></td>
        </tr>
    </table>
</div>


{{#section 'backAdministrationOrderProductJs'}}
    <script src="javascript/back/backAdministrationOrderProduct.js"></script>
{{/section}}