{{#section 'changebackAdministrationProductContentCss'}}
    <link rel="stylesheet" href="stylesheets/back/changebackAdministrationProductContent.css"/>
{{/section}}

<!--右边大的div-->
<div class="backUser">
    <table>
        <!--标题-->
        <caption>修改商品详细信息</caption>
        <tr>
            <th>修改的商品编号</th>
            <th>左边图片一</th>
            <th>左边图片二</th>
            <th>左边图片三</th>
            <th>标题</th>
            <th>描述</th>
            <th>价格</th>
            <th>下方图片一</th>
            <th>下方图片二</th>
            <th>下方图片三</th>
            <th>下方图片四</th>
            <th>操作</th>
        </tr>
        <!--行数-->
        <tr>
            <td><input type="text" name="changeNumber" id="changeNumber"/></td>
            <td><input type="text" name="changeLeftLocationOne" id="changeLeftLocationOne"/></td>
            <td><input type="text" name="changeLeftLocationTwo" id="changeLeftLocationTwo"/></td>
            <td><input type="text" name="changeLeftLocationThree" id="changeLeftLocationThree"/></td>
            <td><input type="text" name="changeTitle" id="changeTitle"/></td>
            <td><input type="text" name="changeContent" id="changeContent"/></td>
            <td><input type="text" name="changePrice" id="changePrice"/></td>
            <td><input type="text" name="changeBottomLocationOne" id="changeBottomLocationOne"/></td>
            <td><input type="text" name="changeBottomLocationTwo" id="changeBottomLocationTwo"/></td>
            <td><input type="text" name="changeBottomLocationThree" id="changeBottomLocationThree"/></td>
            <td><input type="text" name="changeBottomLocationFour" id="changeBottomLocationFour"/></td>
            <td><button class="saveChange">保存</button></td>
        </tr>
    </table>
</div>

{{#section 'changebackAdministrationProductContentJs'}}
    <script src="javascript/back/changebackAdministrationProductContent.js"></script>
{{/section}}